html {
  font-size: 14px;
}

h1 {
  color: green; // [NG] 本当はredが正しい
  font-size: 3rem;
  text-align: center;
}




p {
  text-weight: normal;
  text-align: left;
}




img {
  display: block;
  width: 300px;
}




.important {
}
